/*==========
    resets
  ==========*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
img {
  user-select: none;
}
button,
input,
textarea,
select {
  font-family: inherit;
}
button {
  cursor: pointer;
}
body {
  min-height: 100dvh;
}

:root {
  --cell-size: 6em;
  --light-cell: rgb(249, 235, 213);
  --dark-cell: rgb(52, 35, 19);
  --active-cell: rgb(183, 86, 240);
  --available-cell: rgb(5, 139, 222);
  --can-take-cell: rgb(176, 27, 72);
  --check: rgb(186, 4, 58);
}
/*=================
    board styling
  =================*/
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
}
.board {
  display: flex;
}
.board__cell {
  width: var(--cell-size);
  height: var(--cell-size);
  position: relative;
}
.cell-black {
  background-color: var(--dark-cell);
}
.cell-white {
  background-color: var(--light-cell);
}

/*==================
    pieces styling
  ==================*/

.piece,
.piece img {
  width: 100%;
  height: 100%;
}
.piece img {
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
}
.piece {
  cursor: grab;
  position: relative;
}

.piece__active,
.piece__check,
.cell__available,
.cell__can-take {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  opacity: 0.4;
}
.piece__active {
  background-color: var(--active-cell);
}
.cell__available {
  cursor: pointer;
  background-color: var(--available-cell);
}
.cell__can-take {
  cursor: pointer;

  background-color: var(--can-take-cell);
}
.piece__check {
  background-color: var(--check);
  opacity: 0.8;
}
