/*==========
    resets
  ==========*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
img {
  user-select: none;
}
button,
input,
textarea,
select {
  font-family: inherit;
}
button {
  cursor: pointer;
}
body {
  min-height: 100dvh;
}

:root {
  --cell-size: 6em;
}
/*=================
    board styling
  =================*/
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
}
.board {
  display: flex;
}
.board__cell {
  width: var(--cell-size);
  height: var(--cell-size);
}
.cell-black {
  background-color: rgb(52, 35, 19);
}
.cell-white {
  background-color: rgb(249, 235, 213);
}

/*==================
    pieces styling
  ==================*/

.piece,
.piece img {
  width: 100%;
}
.piece {
  cursor: grab;
}
