/*==========
    resets
  ==========*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
img {
  user-select: none;
}
button,
input,
textarea,
select {
  font-family: inherit;
}
button {
  cursor: pointer;
}
body {
  min-height: 100dvh;
  font-family: 'Roboto', sans-serif;
  color: #333;
}

:root {
  --square-size: 6em;
  --light-square: rgb(249, 235, 213);
  --dark-square: rgb(52, 35, 19);
  --active-square: rgb(183, 86, 240);
  --available-square: rgb(5, 139, 222);
  --can-take-square: rgb(176, 27, 72);
  --check: rgb(186, 4, 58);
}
/*=================
    board styling
  =================*/
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100dvh;
}
.board {
  display: flex;
}
.board__square {
  width: var(--square-size);
  height: var(--square-size);
  position: relative;
}
.square-black {
  background-color: var(--dark-square);
}
.square-white {
  background-color: var(--light-square);
}

/*==================
    pieces styling
  ==================*/

.piece,
.piece img,
.overlay__piece img {
  width: 100%;
  height: 100%;
}
.piece img {
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
}
.piece {
  cursor: grab;
  position: relative;
}

.piece__active,
.piece__check,
.square__available,
.square__can-take {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  opacity: 0.4;
}
.piece__active {
  background-color: var(--active-square);
}
.square__available {
  cursor: pointer;
  background-color: var(--available-square);
}
.square__can-take {
  cursor: pointer;

  background-color: var(--can-take-square);
}
.piece__check {
  background-color: var(--check);
  opacity: 0.8;
}

/*===================
    overlay styling
  ===================*/
.overlay {
  position: absolute;
  z-index: 10;

  width: 100dvw;
  height: 100dvh;
  background-color: rgba(16, 16, 16, 0.6);
}
.overlay__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 15rem;
  width: 45rem;
  background-color: #edeade;

  border-radius: 1rem;
}
.overlay__title {
  font-size: 1.5rem;
  text-align: center;
  line-height: 1;

  cursor: default;
  user-select: none;
}
.overlay__chose-piece {
  display: flex;
  justify-content: space-evenly;
}
.overlay__piece {
  width: calc(var(--square-size) * 1.25);
  height: calc(var(--square-size) * 1.25);
  border: 2px solid #333;
  padding: 0.5rem;

  border-radius: 2rem;
  cursor: pointer;
  transition: all ease-in 0.1s;
}
.overlay__piece:hover {
  background-color: rgba(16, 16, 16, 0.1);
}
.overlay__piece:active {
  background-color: transparent;
  opacity: 0.75;
}
/*==========================
    endgame result styling
  ==========================*/
.end {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 15rem;
  width: clamp(15rem, 40dvw, 30rem);
  background-color: #edeade;

  font-size: 1.5rem;
}

.end__image,
.end__image img {
  width: clamp(3.75rem, 10dvw, 6.25rem);
  animation: 2s ease-in-out infinite victory;
}

@keyframes victory {
  4%,
  20%,
  36% {
    rotate: -5deg;
  }
  12%,
  28%,
  44% {
    rotate: 5deg;
  }
  48% {
    rotate: 0deg;
  }
}
